<div class="tutorial-element">

  <h1>Databinding Tutorial</h1>

  <h2>String Interpolation</h2>

  <p>
    {{stringInterpolation}} | {{numberInterpolation}}
  </p>

  <hr>

  <h2>Property Binding</h2>
  <input type="text" value="{{stringInterpolation}}" />
  <input type="text" [value]="stringInterpolation" />
  <p [ngClass]="{redBorder: onTest()}">Is this styled?</p>
  <p [ngStyle]="{color: 'green'}">Is this styled?</p>

  <hr>

  <h3>Custom Property Binding</h3>
  <fa-property-binding [result]="10"></fa-property-binding>

  <hr>

  <h3>Event Binding</h3>
  <fa-event-binding (clicked)="onClicked($event)"></fa-event-binding>

  <hr>

  <h3>Two-Way Binding</h3>
  <fa-two-way-binding></fa-two-way-binding>

</div>
