<!--Basic component and creating them-->
<div class="tutorial-element">
  <h1>{{title}}</h1>

  <fa-other></fa-other>

  <!--Using ng-content-->
  <fa-another>
    <div>
      <h1>Hello!</h1>
      <p>World!</p>
    </div>
  </fa-another>

  <fa-another>
    <div>Something else...</div>
  </fa-another>

</div>

<!--Databinding Examples-->
<fa-databinding></fa-databinding>

<!--Lifecycles Examples-->
<div class="tutorial-element">

  <fa-lifecycle *ngIf="!erase" [bindable]="boundValue">
    <p #boundContent>{{test}}</p>
  </fa-lifecycle>


  <button (click)="erase = true">Click to Delete</button>
  <button (click)="test = 'Changed Value'">Click to Change Value</button>
  <button (click)="boundValue = 2000">Click to Change Binding</button>

</div>



